.operation {
  $cell-padding: 18px 5px;

  display: flex;

  &:nth-child(odd) {
    background-color: aqua;
  }

  &.operation-form {
    $cell-padding-form: 0px 5px;
    background-color: aqua;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-left: 15px;
    box-shadow: 0 -3px 15px rgba(50, 50, 50, 0.17);
    z-index: 10;

    .dt {
      width: 15%;
      padding: $cell-padding-form;
    }

    .label {
      padding: $cell-padding-form;
    }

    .amount {
      padding: $cell-padding-form;
    }

    .actions {
      padding-top: 0;
    }
  }

  .dt {
    padding: $cell-padding;
    width: 20%;
  }

  .label {
    flex: 1;
    padding: $cell-padding;
  }

  .amount {
    white-space: nowrap;
    padding: $cell-padding;
    text-align: right;
    width: 15%;
  }

  .actions {
    display: flex;
    width: 20%;
    text-align: right;
  }
}
