.login-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;

  .login {
    .title {
      font-size: 24px;
    }

    .errors {
      color: red;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
    }
  }

}
