.balance {
  $cell-padding: 15px 5px;

  display: flex;

  .dt {
    padding: $cell-padding;
    width: 15%;
  }

  .label {
    flex: 1;
    padding: $cell-padding;
  }

  .amount {
    display: flex;
    justify-content: flex-end;
    padding: $cell-padding;
    width: 100px;
    white-space: nowrap;
  }

  .actions {
    padding-top: 15px;
    width: 20%;
    text-align: right;
  }
}
