.balance {
  $cell-padding: 15px 5px;

  display: flex;

  &.balance-form {
    $cell-padding-form: 0px 5px;
    background-color: #F1F1F1;

    .dt {
      padding: $cell-padding-form;
    }

    .label {
      padding: 15px 5px;
    }

    .amount {
      padding: $cell-padding-form;
    }

    .actions {
      padding-top: 0;
    }
  }

  .dt {
    padding: $cell-padding;
    width: 15%;
  }

  .label {
    flex: 1;
    padding: $cell-padding;
  }

  .amount {
    padding: $cell-padding;
    text-align: right;
    width: 10%;
    white-space: nowrap;
  }

  .actions {
    padding-top: 15px;
    width: 20%;
    text-align: right;
  }
}
