@use "sass:color";

.app-header-container {
  display: flex;

  .app-logo {
    animation: app-logo-spin infinite 20s linear;
    height: 60px;
  }

  .icon {
    width: 100px;
  }

  .ant-menu {
    flex: 1;
  }

  .title {
    color: #61dafb;
    font-size: 36px;
    flex: 1;

    a {
      color: #61dafb;
      text-decoration: none;

      &:hover {
        color: color.adjust(#61dafb, $lightness: -35%);
      }
    }
  }

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
