.bank {
  display: flex;
  padding: 5px;
  transition: background-color 0.5s ease;
  background-color: #FFFFFF;

  &:hover {
    background-color: #F1F1F1;
  }

  .label {
    padding-top: 5px;
    flex: 1;
  }
}
